body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%;
} */
.login-form-container,
.login-form {
  height: 100vh;
}

/* .ui.stacked.segment:after
.ui.stacked.segments:after {
  background: none!important;
  border-top: none !important;
} */