body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-form-container,
.login-form,
.login-form.grid {
  height: 100vh;
}

.login-form {
  width: 80vw;
  margin: 0 auto;
}

.login-form-button,
.login-form-prompt,
.google-login-button span {
  font-weight: 200 !important;
}

.google-login-button span {
  margin-right: 10px;
}

.google-login-icon {
  margin-right: 0px !important;
  position: relative;
  top: -2px;
}

.homepage-container {
  width: 100vw;
  height: 100vh;
  max-width: 370px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.feed-menu-container,
.feed-menu,
.feed-newpost-textarea,
.postcard-container {
  margin-bottom: 12px;
}

.feed-menu {
  margin-top: 12px;
}

.feed-newpost-submit-button {
  margin-top: 6px !important;
  margin-bottom: 20px !important;
}

.postcard-container .postcard {
  width: 100% !important;
}

.formatted-post {
  float: left;
  max-width: 100%;
  word-wrap: break-word;
}

.feed-menu-item {
  min-width: 82px;
  display: flex;
  justify-content: center;
}

/* Feed menu button selected */
.ui.menu .active.item {
  background: rgba(33, 132, 209, .05) !important;
}

.user-profile-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.anonymous {
  border: 1px solid rgba(0, 0, 0, .2);
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
*/
.spinner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.la-ball-clip-rotate,
.la-ball-clip-rotate > div {
    position: relative;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-clip-rotate {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-clip-rotate.la-dark {
    color: #4183c4;
}
.la-ball-clip-rotate > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-clip-rotate {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate > div {
    width: 32px;
    height: 32px;
    background: transparent;
    border-width: 2px;
    border-bottom-color: transparent;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate .75s linear infinite;
      -moz-animation: ball-clip-rotate .75s linear infinite;
        -o-animation: ball-clip-rotate .75s linear infinite;
            animation: ball-clip-rotate .75s linear infinite;
}
.la-ball-clip-rotate.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate.la-sm > div {
    width: 16px;
    height: 16px;
    border-width: 1px;
}
.la-ball-clip-rotate.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate.la-2x > div {
    width: 64px;
    height: 64px;
    border-width: 4px;
}
.la-ball-clip-rotate.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate.la-3x > div {
    width: 96px;
    height: 96px;
    border-width: 6px;
}
/*
* Animation
*/
@-webkit-keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate {
    0% {
        -moz-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
            transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate {
    0% {
        -o-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
          transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
@keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.landing-header-container {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BSxsT2ETgj17i4701/videoblocks-earth-hologram-digital-globe-world-holographic-image-of-planet-earth-in-binary-code-on-a-blue-background-star-clusters-3d-illustration-of-the-virtual-hologram-communication-system-in-binary-code_rf7mk0n6e_thumbnail-full15.png") !important;
    background-size: cover !important;
    background-position: center !important;
}


.mouse-cursor-gradient-tracking {
    position: relative;
    background: #7983ff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
  }
  .mouse-cursor-gradient-tracking span {
    position: relative;
  }
  .mouse-cursor-gradient-tracking::before {
    --size: 0;
    content: '';
    position: absolute;
    left: calc(var(--x) - var(--offsetLeft));
    top: calc(var(--y) - var(--offsetTop));
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, pink, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
  .mouse-cursor-gradient-tracking:hover::before {
    --size: 200px;
  }

