body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-form-container,
.login-form,
.login-form.grid {
  height: 100vh;
}

.login-form {
  width: 80vw;
  margin: 0 auto;
}

.login-form-button,
.login-form-prompt,
.google-login-button span {
  font-weight: 200 !important;
}

.google-login-button span {
  margin-right: 10px;
}

.google-login-icon {
  margin-right: 0px !important;
  position: relative;
  top: -2px;
}
